{% extends 'base.html' %}
{% block body %}
    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">A Powerful Career Website Template</h1>
              <p>Find your dream jobs in our powerful career website template.</p>
            </div>
            <form method="post" class="search-jobs-form">
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Job title, keywords...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="form-control">
                    <option>Anywhere</option>
                    <option>San Francisco</option>
                    <option>Palo Alto</option>
                    <option>New York</option>
                    <option>Manhattan</option>
                    <option>Ontario</option>
                    <option>Toronto</option>
                    <option>Kansas</option>
                    <option>Mountain View</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="form-control">
                    <option>Part Time</option>
                    <option>Full Time</option>
                    <option>Freelancer</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      
    </section>

    <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">109,234 Job Listed</h2>
          </div>
        </div>

       
        <div class="mb-5">
          {% for item in context %}
          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <!-- <div class="col-md-2">
              <a href="job-single.html"><img src="images/featured-listing-1.jpg" alt="Image" class="img-fluid"></a>
            </div> -->
           

            
            <div class="col-md-4">
              <span class="badge badge-primary px-2 py-1 mb-3">{{ item.industry}}</span>
              
              
              <h2><a type='button' href="{% url 'jobs:detail' item.id %}">{{item.jobtitle}}</a> </h2>
              <p class="meta">Company: <strong>{{item.company}}</strong> <br>Location: <strong>{{item.joblocation_address}}</strong></p>
            </div>
            <div class="col-md-3 text-left">
              <h3>Experience : <strong>{{item.experience}}</strong></h3>
              <span class="meta"><strong>Education</strong> :{{item.education}}</span>
            </div>
            <div class="col-md-3 text-md-right">
              <span class="meta"><strong>CTC : </strong> <strong>{{item.payrate}}</strong></span>
              
            </div>
          </div>

         {% endfor %}

          


      <div class="row pagination-wrap"  style="justify-content: center;">

      <div class="text-center text-md-left">
            <div class="custom-pagination ml-auto">  
              {% if context.has_previous %}

                <a href="?page=1" class="prev"><<</a>
                <a href="?page={{context.previous_page_number }}" class="prev ml-auto">Previous</a>
              {% endif %}
              <div class="d-inline-block">
              {% for num in context.paginator.page_range %}
                {% if context.number == num %}
                <button class="btn btn-dark" disabled>{{ num }}</button>
                {% elif num > context.number|add:'-7' and num < context.number|add:'7' %}
                <button class="btn btn-light" onclick='location.href="?page={{num}}"'> {{ num }}</button>
                {% endif %}
              {% endfor %}
              </div>
              {% if context.has_next %}
                <a href="?page={{ context.next_page_number }}" class="next ml-auto">Next</a>
                <a href="?page={{ context.paginator.num_pages  }}" class="next ml-auto">>></a>
              {% endif %}
              </div>
          </div>
      </div>
       
          
          
          

      
    </section>
    {% if user.is_authenticated %}
    {% else %}
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Looking For A Job?</h2>
            <p class="mb-0 text-white lead">We provide the best job searching website.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="{% url 'accounts:signup' %}" class="btn btn-warning btn-block btn-lg">Sign Up</a>
          </div>
        </div>
      </div>
    </section>


<!-- Button trigger modal -->








    {% endif %}
{% endblock %}